@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>

<p>Hello! I am a 4th year senior in Ohio University's College of Business. I am pursuing co - majors of Management Information Systems and Business Analytics as well as a certificate in Sales. I will graduate in December of 2020, and am currently in the process of looking for an data based internship. I am from Willoughby, Ohio - a suburb 30 minutes East of downtown Cleveland. I am a devoted Cleveland sports fan who enjoys critical thinking, rock and roll music, television and cinema.</p>
