@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>

<address>
    70 North High Street<br />
    Athens, OH 45701<br />
    <abbr title="Phone">Phone:</abbr>
    4409539337
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:mk637215@ohio.edu">mk637215@ohio.edu</a><br />
</address>