@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Matt's MIS4200 MVC Application</h1>
    <p class="lead">This application will be continuously updated and utilized to gain experience using MVC applications in Visual Studio for MIS4200.</p>
    <p><a class=""></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Expectations:</h2>
        <p>
            My intial expectations for MIS4200 are to be challenged as I enhance my proficiency in techniques pertaining to system development.
        </p>
        <p><a class=""></a></p>
    </div>
    <div class="col-md-4">
        <h2>My Goals:</h2>
        <p>I have had an increasing appreciation for my opportunity to receive a premium education as I have progressed through my studies. My goal for this course is to put myself in the appropriate position to best value that opportunity.</p>
        <p><a class=""></a></p>
    </div>
    <div class="col-md-4">
        <h2>LinkedIn Profile:</h2>
        <p>The below button will provide you with a direct link to my LinkedIn profile.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/matthewkontra/">LinkedIn &raquo;</a></p>
    </div>
</div>